html {
  box-sizing: border-box;
  font-family: "Patua One", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
}

body {
  margin: 0;
  background-color: #f2f1ed;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "banner banner"
    "banner banner"
    "banner banner"
    "figone figtwo";
}

figure {
  margin: 1rem;
}

.pano {
  grid-area: banner;
  margin: 1rem 1rem 0rem;
}

main {
  display: grid;
  grid-column: -3/-1;
  grid-template-columns: 1fr 1fr;
}

nav {
  grid-column: -2;
  grid-row: 1;
  z-index: 10;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 1rem;
}

a {
  color: #fff;
  padding: 1rem;
  font-size: 2rem;
}

.logo {
  grid-column: 1;
  grid-row: 3;
  width: 14rem;
  z-index: 10;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

h2 {
  color: #30658d;
}

p {
  color: #000;
}
